{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% compress css%}
            <link  type="text/x-scss" charset="utf-8"  rel="stylesheet" href="{% static 'scss/style.scss' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
            {% block css %}
            {% endblock css %}
        {% endcompress %}

        
    </head>

    
    <body class="body">
          {% block navbar %}{% endblock navbar %}
          {% block content %}

          {% endblock content %}

            <footer>
              <div class="img-separator overflow-hidden mb ">
              </div>
              <div class="bg-success row px-1 px-md-5 pt-3 pt-sm-5 pb-2">
                <div class="col-12 col-sm-4 text-start d-flex justify-content-center mt-3 mt-sm-0 order-3 order-sm-1">
                  <ul class="d-flex d-sm-block flex-wrap justify-content-evenly">
                    <li class="nav-item">
                      <a class="nav-link active text-light fw-bolder fst-italic fs-5" aria-current="page" href="#">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-light fw-bolder fst-italic fs-5" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">Arts et culture</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Habillement</a></li>
                          <li><a class="dropdown-item" href="#">Sculture</a></li>
                          <li><a class="dropdown-item" href="#">Peinture</a></li>
                          <li><a class="dropdown-item" href="#">Chefferies</a></li>
                          <li><a class="dropdown-item" href="#">Danses</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-light fw-bolder fst-italic fs-5" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">Régions</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Ouest</a></li>
                          <li><a class="dropdown-item" href="#">Centre</a></li>
                          <li><a class="dropdown-item" href="#">Littoral</a></li>
                          <li><a class="dropdown-item" href="#">Sud</a></li>
                          <li><a class="dropdown-item" href="#">Est</a></li>
                          <li><a class="dropdown-item" href="#">Sud-Ouest</a></li>
                          <li><a class="dropdown-item" href="#">Nord-Ouest</a></li>
                          <li><a class="dropdown-item" href="#">Nord</a></li>
                          <li><a class="dropdown-item" href="#">Extrême-Nord</a></li>
                          <li><a class="dropdown-item" href="#">Adamaoua</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light fw-bolder fst-italic fs-5" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light fw-bolder fst-italic fs-5" href="#">Espace reservé</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light fw-bolder fst-italic fs-5" href="#">Contact</a>
                    </li>
                  </ul>
                  
                </div>
                <div class="col-12 col-sm-4 mb-5 d-flex justify-content-center order-1 order-sm-2">
                  <div>
                    <div class="mb-1 mb-sm-5">
                      <a href="" class="link-light"><i class="bi bi-facebook fs-4 me-2"></i></a>
                      <a href="" class="link-light"><i class="bi bi-twitter fs-4 me-2"></i></a>
                      <a href="" class="link-light"><i class="bi bi-instagram fs-4 me-2"></i></a>
                      <a href="" class="link-light"><i class="bi bi-pinterest fs-4 me-2"></i></a>
                    </div>
                    <div>
                      <span class="text-light fst-italic">Copyright@Evrad7</span>
                    </div>
                  </div>
                </div>
                <div  class="col-12 col-sm-4 text-light order-2 order-sm-3 text-center text-sm-start">
                  <h3>Qui sommes nous</h3>
                  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum libero autem illo consectetur architecto sint obcaecati 
                    quae blanditiis aperiam? Ad voluptates dolor id accusamus amet quae a praesentium consectetur enim?</div>
                </div>
              </div>

            </footer>
        {% compress js %}
          <script type="text/javascript" src="{% static '/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
          <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
          {% block js %}
          {% endblock js%}
        {% endcompress %}
    </body>
</html>