{% load static %}
<nav class="navbar navbar-expand-lg border border-secondary container-fluid py-0">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="{% url 'vitrine:home' %}">
        <img src="{% static 'img/logo.png' %}" width="60px" height="60spx" alt="Cameroon culture">
        <h5 class="text-dark fst-italic slogan">Au coeur du Cameroun</h5>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0 px-3 px-lg-1 " id="navbarSupportedContent"  >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item position-relative me-1">
            <a class="nav-link  text-success fw-bolder fst-italic fs-5 {% if active == 1 %}active{% endif %}" aria-current="page" href="{% url 'vitrine:home' %}">Accueil</a>
          </li>
          <li class="nav-item position-relative me-1 ">
            <a class="text-success  nav-link fw-bolder fst-italic fs-5 {% if active == 2 %}active{% endif %}" href="{% url 'vitrine:sector' 'habillement' %}"  role="button" >Arts et culture <i class="fs-6 bi bi-chevron-down"></i></a>
            <div class="sub-menu">
              <ul class="ps-3 pe-3 py-3 border border-top-0  overflow-hidden">
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:sector' 'habillement' %}">Habillement</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:sector' 'habillement' %}">Sculture</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:sector' 'habillement' %}">Peinture</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:sector' 'habillement' %}">Chefferies</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:sector' 'habillement' %}">Danses</a></li>
              </ul>
            </div>
           
          </li>
          <li class="nav-item position-relative me-1">
            <a class=" text-success nav-link fw-bolder fst-italic fs-5 {% if active == 3 %}active{% endif %}" href="{% url 'vitrine:region' 'ouest' %}"  role="button" >Régions <i class="fs-6 bi bi-chevron-down"></i> </a>
            <div class="sub-menu">
              <ul class="ps-3 pe-3 py-3 border border-top-0  ">
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Ouest</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Centre</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Littoral</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Sud</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Est</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Sud-Ouest</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Nord-Ouest</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Nord</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Extrême-Nord</a></li>
                <li><a class="text-decoration-none fst-italic" href="{% url 'vitrine:region' 'ouest' %}">Adamaoua</a></li>
            </ul>
            </div>
            
          </li>
          <li class="nav-item position-relative me-1">
            <a class="nav-link text-success fw-bolder fst-italic fs-5 {% if active == 4 %}active{% endif %}" href="{% url 'blog:articles' %}">Blog</a>
          </li>
          <li class="nav-item position-relative me-1">
            <a class="nav-link text-success fw-bolder fst-italic fs-5 {% if active == 5 %}active{% endif %}" href="#">Espace reservé</a>
          </li>
          <li class="nav-item position-relative me-1">
            <a class="nav-link text-success fw-bolder fst-italic fs-5 {% if active == 6 %}active{% endif %}" href="{% url 'vitrine:contact' %}">Contact</a>
          </li>
          <li class="nav-item position-relative me-2">
            <a class="nav-link text-success fw-bolder fst-italic fs-5" href="#" role="button">
              Langues <i class=" bi bi-chevron-down fs-6"></i>
            </a>
            <div class="sub-menu">
              <ul class=" ps-3 pe-3 py-3 border border-top-0  ">
                <li><a class="text-decoration-none fst-italic" href="#">Français</a></li>
                <li><a class="text-decoration-none fst-italic" href="#">Anglais</a></li>
              </ul>
            </div>
           
          </li>
        </ul>
      </div>
    </div>
  </nav>