:root{
    --bg:#F1F0EB;
}

nav ul li.nav-item a.nav-link:after, .footer div a:after{
	content:'';
	width:0%;
	display: block;
	height:1.5px;
	margin:auto;
	background-color: var(--bs-primary);
	transition:  .3s cubic-bezier(.52,-0.11,.36,1);
	position: absolute;
	top:40px;
  }
  nav ul li.nav-item a.nav-link:hover:after, .footer div a:hover:after{
	width:85%;
	background-color: var(--bs-success);
  
  
  }
  nav ul li.nav-item a.nav-link.active:after{
	width:85%;
	background-color: var(--bs-success);
  
  
  }
  div.sub-menu ul {
    list-style-type: none;
  }
  nav .nav-item >div.sub-menu ul li a:hover,   nav .nav-item >div.sub-menu ul li button:hover{
        color:var(--bs-success)!important;
  }
  nav .nav-item >div.sub-menu {
    position: absolute;
    background-color: var(--bg);
    top:42px;
    min-width:100%;
    z-index:99;
    max-height: 0;
    overflow:hidden;
    transition:.35s cubic-bezier(.52,-0.11,.36,1);
  }
  nav .nav-item:hover >div.sub-menu{
    max-height:1000px;
  }

  nav .nav-item:hover a.nav-link i:before{
    transform:rotate(-180deg);
  }
  
  nav .nav-item a.nav-link i:before{
    transition: .3s cubic-bezier(.52,-0.11,.36,1);;
  }
  @media screen and (max-width:960px) {

    nav .nav-item >div.sub-menu {
    position: static;
 
  }
  }

  nav ul li.nav-item:nth-child(1):hover .sub-menu, .sub-menu:hover{
	height: auto;

  }
  
  
.body{
    background-color: var(--bg);
    font-family: 'Libre Baskerville', serif;
    overflow-x: hidden;
}

.img-separator{
    height:50px;
    background-image: url("../img/separator.png");
    background-position: center;
    background-size: contain;
    background-clip: content-box;
    background-repeat: repeat-x;
    
}
@media screen and (max-width:576px) {
    .img-separator{
        background-size: cover;
    }
}
.point{
    width:3rem;
    height:3rem;
    border-radius: 50%;
}

@media screen and (max-width:576px) {
    .point{
        width:2rem;
        height:2rem;
    }
}
footer ul{
    list-style-type: none;    
}
footer ul a{
    display: inline!important;
}
footer ul a:hover, footer  a:hover i{
    color:var(--bs-primary)!important;
    transition: .5 0s ease;
}
@media screen and (max-width:992px) {
    nav .navbar-collapse{
        border: 1px solid var(--bs-warning);
    }
}
@media screen and (max-width:350px) {
    .navbar-brand .slogan{
        display: none;
    }
    
}

.img{
  position:relative;
  display: inline-block;
  overflow:hidden;
}
.img span{
  position:absolute;
  bottom:0;
  right:5px;
  color:var(--bs-light);
  font-style:italic;
  text-shadow: 2px 2px 5px var(--bs-dark);
  font-size:.8rem;
  word-wrap:anywhere;
}


.alert-container > div {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  animation-name: slideDown;
  animation-duration: .5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.86,0,.07,1);
}

@keyframes slideDown {
  from{
    top:10px;
  }
  to{
    top:50px;
  }
}

form.newsletter button{
  width:190px;
}