{% load static %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% compress css%}
            <link  type="text/x-scss" charset="utf-8"  rel="stylesheet" href="{% static 'scss/style.scss' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
            {% block css %}
            {% endblock css %}
        {% endcompress %}

        
    </head>

    
    <body class="body">
          <div class="alert-container">
            
          </div>
          {% block navbar %}{% endblock navbar %}
    
          {% block content %}

          {% endblock content %}

            <footer>
              <div class="img-separator overflow-hidden mb ">
              </div>
              <div class="bg-success row px-1 px-md-5 pt-3 pt-sm-5 pb-2">
                <div class="col-12 col-sm-4 text-start d-flex justify-content-center mt-3 mt-sm-0 order-3 order-sm-1">
                  <ul class="d-flex d-sm-block flex-wrap justify-content-evenly">
                    <li class="nav-item">
                      <a class="nav-link active text-light fw-bolder fst-italic fs-5" aria-current="page" href="#">{% translate 'Accueil' %}</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-light fw-bolder fst-italic fs-5" href="{{sectors.0.get_absolute_url}}"  role="button" data-bs-toggle="dropdown" aria-expanded="false">{% translate 'Arts et culture' %}</a>
                      <ul class="dropdown-menu">
                        {% for sector in sectors %}
                          <li><a class="dropdown-item" href="{{sector.get_absolute_url}}">{{sector.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-light fw-bolder fst-italic fs-5" href="{{regions.0.get_absolute_url}}"  role="button" data-bs-toggle="dropdown" aria-expanded="false">{% translate 'Régions' %}</a>
                      <ul class="dropdown-menu">
                        {% for region in regions %}
                        <li><a class="dropdown-item" href="{{region.get_absolute_url}}">{{region.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light fw-bolder fst-italic fs-5" href="#">{% translate 'Blog' %}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light fw-bolder fst-italic fs-5" href="#">{% translate 'Espace reservé' %}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light fw-bolder fst-italic fs-5" href="#">{% translate 'Contact' %}</a>
                    </li>
                  </ul>
                  
                </div>
                <div class="col-12 col-sm-4 mb-5 d-flex justify-content-center order-1 order-sm-2">
                  <div>
                    <div class="mb-1 mb-sm-5">
                      {% for link in company.links.all %}
                        <a href="{{link.link}}" class="link-light"><i class="bi {{link.icon_class}} fs-4 me-2"></i></a>
                      {% endfor %}
                    </div>
                    <div>
                      <span class="text-light fst-italic">Copyright@Evrad7</span>
                    </div>
                  </div>
                </div>
                <div  class="col-12 col-sm-4 text-light order-2 order-sm-3 text-center text-sm-start">
                  <h3>{% translate 'Qui sommes nous ??' %}</h3>
                  <div>{{company.description}}</div>
                </div>
              </div>

            </footer>
        {% compress js %}
          <script type="text/javascript" src="{% static 'node_modules/scrollreveal/dist/scrollreveal.min.js' %}"></script>
          <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
          <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

          {% block js %}
          {% endblock js%}
        {% endcompress %}
    </body>
</html>