{% extends 'base.html' %}
{% load static %}
{% load i18n %}


    {% block title %} {% translate 'Accueil ' %}{%endblock title%}
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/home.css' %}">
      <link rel="stylesheet" href="{% static 'css/glider.min.css' %}">
    {% endblock css %}
    {% block content %}
    {% include "navbar.html" with active=1 %}
    <div class="d-flex bg-warning justify-content-between overflow-hidden">
      <div class="flex-grow-1 ps-1 ps-sm-4  py-2 d-flex flex-column align-items-center justify-content-center position-relative scrollreveal-home-text">
        <div class="mb-1 links">
          {% for link in company.links.all %}
            <a href="{{link.link}}" class="link-light"><i class="bi {{link.icon_class}} fs-4 me-2"></i></a>
          {% endfor %}
        </div>
          <h2 class="text-success fw-bolder fst-italic text-center">{% trans 'Découvrez toute la richesse de la culture <br> camerounaise' %} </h2>
          <div class="separator-bar my-1 my-sm-2 my-md-5"></div>
          <h2 class="text-light fst-italic text-center">{{company.slogan}}</h2>
      </div>
      <img src="{% static 'img/home.png' %}"  class="img-fluid home scrollreveal-home-img" alt="La culture camerounaise">
    </div>
    <p class="text-secondary text-center fs-5 my-4 mx-1 px-0 mx-md-5 px-md-5 scrollreveal-text" >{{company.description}}</p>
      {% for content in contents %}
        {%  if content.pattern_content_home_page.id == "images_left-text_right" %}
        <div class="row my-5 p-1" style="background-color: #383333;">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center scrollreveal-img" >
                {% for media in content.mediacontent_set.all %}
                  <div class="img">
                    <img src="{{media.image.url}}" class="img-fluid"  style="max-height: 400px;" alt="{{madia.image.alt}}">
                    <span>@:{{media.image.author}}</span>
                  </div>
                {% endfor %}
            </div>
            <div class="text-light col-12 col-md-6 py-5 px-3 px-md-4 scrollreveal-text">
                <h2 class="text-center mb-4">{{content.title}}</h2>
                <p class="text-center fs-5">
                  {{content.body|truncatewords:100}}
                </p>
                <div class="text-end me-0 me-lg-3">
                  <a href="{{content.get_absolute_url}}#{{content.title}}-{{content.id}}" class="btn text-warning  btn-transparent border-secondary border-end-0 border-start-0 d-inline-flex align-items-center btn-arrow">
                    <span class="fst-italic">{% translate 'En savoir plus' %}</span> <i class="ms-2 bi bi-arrow-right fs-4"></i>
                  </a>
              </div>
            </div>
            <img src="" alt="">
        </div>
        {% elif content.pattern_content_home_page.id == "carousel_top-text_bottom" %}
          <div class="my-5">
            <div class="img-separator overflow-hidden mb ">
            </div>
            <h1 class="text-primary text-center fst-italic scrollreveal-text">{{content.title}}</h1>
            <div class="glider-contain position-relative  scrollreveal-img">
              <div class="glider overflow-hidden" id="glider-{{forloop.counter}}">
                {% for media in content.mediacontent_set.all %}
                  <div class="me-1 me-sm-2 me-md-4">
                    <div class="img">
                      <img src="{{media.image.url}}" class=""  alt="{{media.image.default_alt_text}}">
                      <span>@:{{media.image.author}}</span>
                    </div>
                  </div>
                {% endfor %} 
              </div>
              <button aria-label="Previous" class="glider-prev glider-prev-{{forloop.counter}} "><i class="bi bi-chevron-left text-light fs-1"></i></button>
              <button aria-label="Next" class="glider-next glider-next-{{forloop.counter}}" ><i class="bi bi-chevron-right fs-1 text-light"  ></i></button>
              <div role="tablist" class="dots"></div>
            </div>
            <div class="text-end mt-3 pe-1 pe-sm-5  scrollreveal-text">
              <a href="{{content.get_absolute_url}}#{{content.title}}-{{content.id}}" class="btn text-success  btn-transparent border-secondary border-end-0 border-start-0 d-inline-flex align-items-center btn-arrow">
                <span class="fst-italic">{% translate 'En savoir plus sur les photos' %} </span> <i class="ms-2 bi bi-arrow-right fs-4"></i>
              </a>
          </div>
          </div>
        {% elif content.pattern_content_home_page.id == "images_right-text_left" %}
        <div class="px-1 ps-sm-3">
          <div class="  mt-0  mt-md-5  mx-3 d-sm-flex d-inline-block mb-3   scrollreveal-text">
            <div class="d-inline">
              <div class="point bg-primary d-inline-block me-1  me-sm-4 mt-4" >
              </div>
            </div>
            <h1 class="text-primary d-inline fst-italic">{{content.title}}.</h1>
          </div>
          <div class="row  scrollreveal-text">
            <div class="col-12 col-md-6 order-2 order-md-1 d-flex flex-column align-items-center justify-content-center">
              <p class="fs-5 text-center text-secondary">
                {{content.body|truncatewords:100}}
              </p>
              <div class="scrollreveal-text">
                  <a href="{{content.get_absolute_url}}#{{content.title}}-{{content.id}}" class="btn text-success  btn-transparent border-secondary border-end-0 border-start-0 d-flex align-items-center btn-arrow ">
                    <span class="fst-italic">{% translate 'En savoir plus' %}</span> <i class="ms-2 bi bi-arrow-right fs-4"></i>
                  </a>
              </div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2 d-flex justify-content-end mb-4 mb-md-0  scrollreveal-img">
              {% for media in content.mediacontent_set.all %}
                <div class="img">
                  <img src="{{media.image.url}}" class="img-fluid" alt="{{media.image.default_alt_text}}">
                  <span>@:{{media.image.author}}</span>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% elif content.pattern_content_home_page.id == "text_top-image_in_frame" %}
        <div class="px-1 ps-sm-3">
          <div class="mt-5 mx-3 d-sm-flex d-inline-block mb-3  scrollreveal-text">
            <div class="d-inline">
              <div class="point bg-primary d-inline-block me-1  me-sm-4 mt-4" >
              </div>
            </div>
            <h1 class="text-primary d-inline fst-italic">{{content.title}}</h1>
          </div>
          <div class="row">
            <div class="col-0 col-md-3"></div>
            <div class="col-0 col-md-6  ">
              <p class="text-secondary fs-5 text-center scrollreveal-text">{{content.body|truncatewords:50}}</p>
            </div>
            <div class="col-0 col-md-3"></div>
            <div class="d-flex justify-content-center align-items-center scrollreveal-img">
              <div class="col-0 col-md-2"></div>
              <div class="col-12 col-md-7 d-flex justify-content-center picture-frame">
                {% with medias=content.mediacontent_set.all %}
                <div class="">
                  <div class="d-flex justify-content-end">
                    <div class="img scrollreveal-img">
                      <img src="{{medias.0.image.url}}" class="img-fluid d-block mt-5"  alt="{{medias.0.image.default_alt_text}}">
                      <span>@:{{medias.0.image.author}}</span>
                    </div>                      
                  </div>
                  <div class="d-flex justify-content-end scrollreveal-img">
                    <div class="img scrollreveal-img">
                      <img src="{{medias.1.image.url}}"  class="img-fluid d-block"  alt="{{medias.1.image.default_alt_text}}">
                      <span>@:{{medias.1.image.author}}</span>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="d-flex justify-content-start">
                    <div class="img scrollreveal-img">
                      <img src="{{medias.2.image.url}}"   class="img-fluid d-block"  alt="{{medias.2.image.default_alt_text}}">
                      <span>@:{{medias.2.image.author}}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <div class="img scrollreveal-img">
                      <img src="{{medias.3.image.url}}"  class="img-fluid d-block"alt="{{medias.3.image.default_alt_text}}">
                      <span>@:{{medias.3.image.author}}</span>
                    </div>
                  </div>
                </div>
                {% endwith %}
              </div>
              <div class="col-0 col-md-3"></div>
           
            </div>
          </div>
          <div class="text-center mt-3 scrollreveal-text">
            <a href="{{content.get_absolute_url}}#{{content.title}}-{{content.id}}" class="btn text-success  btn-transparent border-secondary border-end-0 border-start-0 d-inline-flex align-items-center btn-arrow">
              <span class="fst-italic ">{% translate 'En savoir plus' %}</span> <i class="ms-2 bi bi-arrow-right fs-4"></i>
            </a>
        </div>
        </div>
        {% elif content.pattern_content_home_page.id == "images_top-text_bottom" %}
        <div class="px-1 ps-sm-3">
          <div class="mt-5 mx-3 d-sm-flex d-inline-block mb-3 scrollreveal-text">
            <div class="d-inline">
              <div class="point bg-primary d-inline-block me-1  me-sm-4 mt-4" >
              </div>
            </div>
            <h1 class="text-primary d-inline fst-italic scrollreveal-text">{{content.title}}.</h1>
          </div>
          <div class="text-center mx-1 scrollreveal-img">
            {% for media in content.mediacontent_set.all %}
              <div class="img">
                <img src="{{media.image.url}}" class="img-fluid" alt="{{media.image.default_alt_text}}">
                <span>@:{{media.image.author}}</span>
              </div>
            {% endfor %}
          </div>
          <p class="fs-5 text-secondary mt-5 scrollreveal-text">
            {{content.body|truncatewords:100}}
          </p>
          <div class="text-center mb-3 scrollreveal-text">
            <a href="{{content.get_absolute_url}}#{{content.title}}-{{content.id}}" class="btn text-success  btn-transparent border-secondary border-end-0 border-start-0 d-inline-flex align-items-center btn-arrow scrollreveal-text">
              <span class="fst-italic ">{% translate 'En savoir plus' %}</span> <i class="ms-2 bi bi-arrow-right fs-4"></i>
            </a>
        </div>
        
      </div>
        {% endif %}
      {% endfor %}
   
   
     
      <div>
        <div class="mt-5 mx-3 d-sm-flex d-inline-block mb-3  scrollreveal-text">
          <div class="d-inline">
            <div class="point bg-primary d-inline-block me-1  me-sm-4  mt-4" >
            </div>
          </div>
          <h1 class="text-primary d-inline fst-italic">{% translate 'Les articles les plus consultés' %}.</h1>
        </div>
        <div class="d-flex justify-content-center  mt-5 flex-wrap">
          <div class="d-flex">
            <div class="vertical-separator  d-block d-md-none scrollreveal-img">
              <div class="vertical-upper-separator bg-primary mt-3">
              </div>
              <div class="point bg-primary"></div>
              <div class="vertical-lower-separator bg-primary ">
              </div>
            </div>
            <div>
              {% if articles.0 is not None %}
                <div class="card bg-transparent mb-5" style="max-width:25rem;">
                  <div class="px-2 scrollreveal-img">
                    <div class="img w-100 ">
                      <img src="{{articles.0.image.url}}" class="card-img-top img-fluid border rounded-0" alt="{{articles.0.image.default_alt_text}}">
                      <span>@:{{articles.0.image.author}}</span>
                    </div>
                  </div>
                  <div class="card-body scrollreveal-text">
                    <h5 class="card-title  fst-italic text-center">{{articles.0.title}}</h5>
                    <p class="card-text text-secondary">{{articles.0.summary|truncatewords:50}}</p>
                    <div class="text-center">
                      <a href="{{articles.0.get_absolute_url}}" class="btn btn-warning border border-secondary fst-italic">{% translate 'Lire plus ...' %}</a>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if articles.1 is not None %}
              <div class="card bg-transparent" style="max-width:25rem;">
                <div class="px-2 scrollreveal-img">
                  <div class="img w-100">
                    <img src="{{articles.1.image.url}}" class="card-img-top img-fluid rounded-0" alt="{{articles.1.image.default_alt_text}}">
                    <span>@:{{articles.1.image.author}}</span>
                  </div>
                  
                </div>
                <div class="card-body scrollreveal-text">
                  <h5 class="card-title  fst-italic text-center">{{articles.1.title}}</h5>
                  <p class="card-text text-secondary">{{articles.1.summary|truncatewords:50}}</p>
                  <div class="text-center">
                    <a href="{{articles.1.get_absolute_url}}" class="btn btn-warning border border-secondary fst-italic">{% translate 'Lire plus ...' %}</a>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="vertical-separator  mx-md-1 mx-lg-5 d-none d-md-block scrollreveal-img">
            <div class="vertical-upper-separator bg-primary mt-3">
            </div>
            <div class="point bg-primary"></div>
            <div class="vertical-lower-separator bg-primary ">
            </div>
          </div>
      
          <div class="d-flex justify-content-between">
            <div class="vertical-separator  d-block d-md-none scrollreveal-img">
              <div class="vertical-upper-separator bg-primary mt-3">

              </div>
              <div class="point bg-primary"></div>
              <div class="vertical-lower-separator bg-primary ">

              </div>
            </div>
            <div>
              {% if articles.2 is not None %}
                <div class="card bg-transparent mb-5" style="max-width:25rem;">
                  <div class="px-2 scrollreveal-img">
                    <div class="img w-100">
                      <img src="{{articles.2.image.url}}" class="card-img-top img-fluid rounded-0" alt="{{articles.2.image.default_alt_text}}">
                      <span>@:{{articles.2.image.author}}</span>
                    </div>
                  </div>
                  <div class="card-body scrollreveal-text">
                    <h5 class="card-title  fst-italic text-center">{{articles.2.title}}</h5>
                    <p class="card-text text-secondary">{{articles.2.summary|truncatewords:50}}</p>
                    <div class="text-center">
                      <a href="{{articles.2.get_absolute_url}}" class="btn btn-warning border border-secondary fst-italic">{% translate 'Lire plus ...' %}</a>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if articles.3 is not None %}
                <div class="card bg-transparent" style="max-width:25rem;">
                  <div class="px-2 scrollreveal-img">
                    <div class="img w-100">
                      <img src="{{articles.3.image.url}}" class="card-img-top img-fluid rounded-0" alt="{{articles.3.image.default_alt_text}}">
                      <span>@:{{articles.3.image.author}}</span>
                    </div>    
                  </div>
                  <div class="card-body scrollreveal-text">
                    <h5 class="card-title  fst-italic text-center">{{articles.3.title}}</h5>
                    <p class="card-text text-secondary">{{articles.3.summary|truncatewords:50}}</p>
                    <div class="text-center">
                      <a href="{{articles.3.get_absolute_url}}" class="btn btn-warning border border-secondary fst-italic">{% translate 'Lire plus ...' %}</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
       
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center my-4 scrollreveal-text">
            <a href="{% url 'blog:articles' %}" class="btn btn-dark fst-italic">{% translate "Plus d'articles" %}</a>
        </div>
      </div>

      {% include "vitrine/newsletter.html" %}
    {% endblock content %}


    {% block js %}
    <script src="{% static 'js/glider.min.js' %}"></script>
    <script src="{% static 'vitrine/js/home.js' %}"></script>
    <script type="text/javascript" src="{% static 'vitrine/js/newsletter.js' %}"></script>
    {% endblock js %}
