$primary:       #9F7B17;
$secondary:     #707070;
$success:       #07503A;
$warning:       #E2B330;
$dark:          #100D0D;
$danger:        #ff3131;

$h1-font-size:  1rem * 5.5;
$h2-font-size:                1rem * 3.5;
$h3-font-size:                1rem * 2.5;
$h4-font-size:                1rem * 1.5;
$h5-font-size:                1rem * 1.25 ;
$h6-font-size:                1rem;


$card-border-width:           0px;



$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         1rem;
$input-border-radius:           none;
$input-plaintext-color:     $success;


$btn-padding-x:     2rem;
$btn-border-radius:   none;

// scss-docs-end font-variables
