{% extends 'base.html' %}
{% load static %}


    {% block title %} {{region.name}} {%endblock title%}
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/region.css' %}">
      <link rel="stylesheet" href="{% static 'css/glider.min.css' %}">
    {% endblock css %}
    {% block content %}
    {% include "navbar.html" with active=3 %}
    <div class="mx-2 mx-md-5 fst-italic">
        <h1 class="text-primary ">Région de</h1>
        <div class="d-flex align-items-center">
            <span class="pretty-dash bg-primary"></span>
            <h1 class="text-success">Ouest Cameroun</h1>
        </div>
      </div>
      <div class="container my-5">
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!</p>
    
      </div>
      <div class="container mb-5">
        <h2 class="text-primary  fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing </h2>
        <div class="d-flex justify-content-center pair-picture">
            <img src="{% static 'img/chifferie1.jpg' %}" alt="Chefferie ouest Cameroun" class="img-fluid" >
            <img src="{% static 'img/chefferie2 .jpg' %}" alt="Chefferie ouest Cameroun0" class="img-fluid" >
        </div>
        <p class="text-secondary pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi distinctio ducimus cupiditate laudantium officia animi. 
            Expedita obcaecati accusantium repellendus ratione nam quas illo sed et in. Quibusdam, reiciendis ipsa!</p>
    

      </div>
      <div class="container my-5">
        <div class="line-separator bg-success"></div>
     </div>
     <div class="my-5">
        <h2 class="text-primary container fst-italic">Lorem ipsum dolor sit amet consectetur.</h2>
        <div class="glider-contain position-relative">
          <div class="glider overflow-hidden">
            <div class="me-1 me-sm-2 me-md-4">
              <img src="{% static 'img/culture_2.jpg' %}" class=""  alt="culture camerounaise ouest">
            </div>
            <div class="me-1 me-sm-2 me-md-4">
              <img src="{% static 'img/culture_3.jpg' %}" class=""  alt="culture camerounaise ouest">
            </div> 
            <div class="me-1 me-sm-2 me-md-4">
              <img src="{% static 'img/culture_1.png' %}" class=""  alt="culture camerounaise ouest">
            </div>
            <div class="me-1 me-sm-2 me-md-4">
              <img src="{% static 'img/culture_4.jpg' %}" class=""  alt="culture camerounaise ouest">
            </div> 
            
            <div class="me-1 me-sm-2 me-md-4">
              <img src="{% static 'img/culture_2.jpg' %}" class=""  alt="culture camerounaise ouest">
            </div>
            <div class="me-1 me-sm-2 me-md-4">
              <img src="{% static 'img/culture_3.jpg' %}" class=""  alt="culture camerounaise ouest">
            </div>
            <div class="me-1 me-sm-2 me-md-4">
              <img src="{% static 'img/culture_1.png' %}" class=""  alt="culture camerounaise ouest">
            </div> 
          </div>
          <button aria-label="Previous" class="glider-prev"><i class="bi bi-chevron-left text-light fs-1"></i></button>
          <button aria-label="Next" class="glider-next"><i class="bi bi-chevron-right fs-1 text-light"  ></i></button>
          <div role="tablist" class="dots"></div>
        </div>
        <p class="fs-5 text-secondary my-5 container">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius at perferendis ut, nam reiciendis, 
          quibusdam aliquid natus veniam dolor iure odio corrupti molestias aspernatur dignissimos
           sapiente sint placeat distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius at perferendis ut, nam reiciendis, 
           quibusdam aliquid natus veniam dolor iure odio corrupti molestias aspernatur dignissimos
            sapiente sint placeat distinctio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius at perferendis ut, nam reiciendis, 
          quibusdam aliquid natus veniam dolor iure odio corrupti molestias aspernatur dignissimos
           sapiente sint placeat distinctio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius at perferendis ut, nam reiciendis, 
           quibusdam aliquid natus veniam dolor iure odio corrupti molestias aspernatur dignissimos
            sapiente sint placeat distinctio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius at perferendis ut, nam reiciendis, 
            quibusdam aliquid natus veniam dolor iure odio corrupti molestias aspernatur dignissimos
             sapiente sint placeat distinctio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius at perferendis ut, nam reiciendis, 
             quibusdam aliquid natus veniam dolor iure odio corrupti molestias aspernatur dignissimos
              sapiente sint placeat distinctio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius at perferendis ut, nam reiciendis, 
              quibusdam aliquid natus veniam dolor iure odio corrupti molestias aspernatur dignissimos
               sapiente sint placeat distinctio.
        </p>
      </div>
        {% include "vitrine/newsletter.html" %}
    {% endblock content %}
  
    {% block js %}
    <script src="{% static 'js/glider.min.js' %}"></script>
    <script src="{% static 'vitrine/js/region.js' %}"></script>
    {% endblock js %}
